<div class="panel-body">
    <a class="btn-floating btn-large waves-effect waves-light red" href="#/product/create">
        <i class="material-icons">add</i>
    </a>
    <br/><br/>
    <table class="table table-bordered table-striped">
        <thead>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Category Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th width="250px">
                Action
            </th>
        </thead>
        <tr data-ng-repeat="p in products.data">
            <td>
                <span data-ng-bind="p.id"></span>
            </td>
            <td>
                <span data-ng-bind="p.name"></span>
            </td>
            <td>
                <span data-ng-bind="p.category"></span>
            </td>
            <th>
                <span data-ng-bind="p.description"></span>
            </th>
            <td>
                <span data-ng-bind="p.price"></span>
            </td>
            <td>
                <span data-ng-bind="p.qty"></span>
            </td>
            <td>
                <a href="#/product/edit/{{p.id}}">
                    <md-button class="md-raised">Edit</md-button>
                </a>
                <md-button class="md-raised md-warn" data-ng-click="remove(p.id);">Delete</md-button>
            </td>
        </tr>
    </table>
</div>